@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600');

body{
	background-color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
}

#contendores{
	display: block;
}

.contendor1{
	float: left;
	width: 100%;
}

.contendor1 p{
background-color: #ff0;
height: 50px;
margin: 0;
padding: 10px;
} 

.contendor1 .es{
	background-color: #ed2251;
}

/* contenedor dos */
.contendor2{
	float: left;
	width: 15%;
}

.contendor2 p{
background-color: #ff0;
height: 50px;
margin: 0;
padding: 10px;
} 

.contendor2 .es{
	background-color: #ed2251;
}

/* contenedor tres */
.contendor3{
float: left;
display: inline;
}

.contendor3 p{
background-color: #ff0;
height: 50px;
margin: 0;
padding: 10px;
} 

.contendor3 .es{
	background-color: #ed2251;

}